.logo-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
  height: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.qna{
  font-size: 32px;
  width: 100px;
  color: #939393;
  
}

.announcementbtn{
text-decoration: none;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 174px;
height: 45px;
left: 0px;
top: 0px;

background: #6B3906;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}

.qnabtn{
  text-decoration: none;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 174px;
height: 45px;
left: 204px;
top: 0px;

background: #DCB78F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}

.completed_answer{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;


width: 92px;
height: 45px;


background: #6B3906;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}

.waiting_answer{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 91px;
height: 45px;


background: #DCB78F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}

.active {
  text-decoration: none;
}
.no-active {
  text-decoration: none;
}

.writebtn{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 80px;
height: 45px;


background: #6B3906;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}

.detail:hover {
  background-color: #DCB78F;
  cursor: pointer;
  transition: 0.5s;
}