.IconWithText {
  position: relative;
  width: 71px;
  height: 61px;
  cursor: pointer;
}

.IconWithText:hover {
  scale: 1.05;
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.ChestNut {
  position: absolute;
  width: 71px;
  height: 61px;
  top: 0;
  left: 0;
}

.TextStyle {
  position: absolute;
  display: flex;
  width: 71px;
  height: 61px;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
