.LastStudyButton {
    display: flex;
    background-color: #6B3906;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    color: white;
}

.LastStudyButton:hover {
    transition: background-color 0.2s;
    background-color: #DCB78F;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.LastStudyButtonText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}