.MainProfileTextBox {
    display: flex;
    flex-direction: column;
    height: 267px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.First {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    gap: 10px;
    flex: 1;
}

.Second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex: 1;

}

.Third {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    flex: 1;

}

.Attend {
    display: flex;
    align-items: center;
    gap: 5px;
    

}

.Ranking {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Fourth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex: 1;

}

.InfoChange {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.Bar {
    
}