.hamburger-menu {
  position: relative;
  cursor: pointer;
}

.hamburger-menu img {
  height: 35px; /* 로고 크기 조정 */
  width: auto;
  align-items: center;
}

.DropMenu {
  position: absolute;
  top: calc(100% + 20px);
  display: flex;
  padding: 5px;
  flex-direction: column;
  border-radius: 15px;
  width: 280px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.DropMenu > :last-child {
  border-bottom: none !important;
}

.DropMenu::after {
  position: absolute;
  top: -20px;
  left: 15px;
  content: "";
  width: 20px;
  height: 20px;
  background: white;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.DropMenu > .DropItem{
  color: black;
}

/* Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  background-color: #f0e6d2;
}

.navbar {
  display: flex;
  align-items: flex-end;
}

.nav-item {
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}

.nav-item img {
  display: flex;
  align-items: center;
  height: 40px; /* 로고 크기 조정 */
  width: auto;
}

.nav-menu{
  padding-bottom: 0.5rem;
}

.nav-menu > .nav-item:hover {
  border-bottom: 2px solid #8b4513;
}