.VocaList {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.VocaListContent {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 12%;
  left: 12%;
  width: 80%;
  height: 68%;
  gap: 10px;
  z-index: 100;
}

.VocaListWord {
  display: flex;
  width: 100%;
  padding: 15px 0px;
  align-items: center;
  color: white;
}

.VocaListWord > p {
  cursor: pointer;
}

.VocaListWord > p:hover {
  color: #ffcc4d;
  text-decoration: underline;
  transition: color 0.1s ease, text-decoration 0.2s ease;
}