.Page {
    width: 100%;
    height: 100%; 
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.FirstBorder, .LastBorder, .NumberBorder {
    width: 53px;
    height: 53px;
    padding: 10px;
    background: #D9D9D9;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.FirstBorder {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px black solid;
}

.NumberBorder {
    border-top: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

.LastBorder {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

.PageBorder {
    width: 20px;
    height: 20px;
}

.NumberContent {
    color: black;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}
.LoginButtonBorder{
    width: 378px;
    height: 56px;
    padding-left: 83px;
    padding-right: 83px;
    background: #6B3906;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}
.LoginButtonFont{
    color: white;
    font-size: 1.25rem;
    font-family: 'Jua';
    font-Weight: 400px;
    word-Wrap: break-word;
}
/*LoginPage*/
.LoginFormBorder, .FormBorder{
    width: 645px;
    height: 50px;
    padding-top: 9px;
    padding-bottom: 11px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    border: white;
}
.FormBorder{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.LoginFormBorder{
    width: 469px;
    margin-right: 70px;
    margin-left: 8px;
    justify-content: flex-start;

}
.LoginFormFont{
    color: black;
    font-size: 1rem;
    font-family: 'Jua';
    font-weight: 400;
    word-wrap: break-word;
}
.LoginIdPwFont{
    width: 68px;
    height: 26px;
    text-align: center;
    color: black;
    font-size: 1.25rem;
    font-family: 'Jua';
    font-weight: 400;
    word-wrap: break-word;
}
.InspectionButton{
    width: 82px;
    height: 35px;
    padding: 10px;
    background: #6B3906;
    border-radius: 20px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10;
    display: inline-flex;
}
.InspectionButtonFont{
    width: 60px;
    height: 20px;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: 'Jua';
    font-weight: '400';
    word-wrap: 'break-word';
}