.PagenationPage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:3px;
}

.PaginationBtn {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #dcb78f;
  color: black;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  font-size: 1rem;
}

.LastBorder, .FirstBorder {
  width: 50px;
}

.NumberBorder.active {
  background: #6b3906;
  color: white;
}

.FirstBorder:hover,
.NumberBorder:hover,
.LastBorder:hover {
  background-color: #6b3906;
  color: white;
}
