.PagenationPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* 
.NumberBorder, .FirstpageBorder, .LastBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.2s;
} */

.NumberBorder.active {
  background-color: #007bff;
  color: white;
}

.NumberBorder:hover, .FirstBorder:hover, .LastBorder:hover {
  background-color: #e0e0e0;
}

/* .PageBorder img {
  width: 20px;
  height: 20px;
} */
.NumberContent {
  color: black;
  font-size: 1.5rem;
  font-family: 'Jua';
  font-weight: 400;
  word-wrap: break-word;
}

.FirstBorder, .LastBorder, .NumberBorder {
  width: 53px;
  height: 53px;
  padding: 10px;
  background: #D9D9D9;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.FirstBorder {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px black solid;
}

.NumberBorder {
  border-top: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
}

.LastBorder {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px black solid;
}

.PageBorder {
  width: 20px;
  height: 20px;
}