.LastStudy {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 25px;
    border: 1px solid #6B3906;
}

.LastStudyHead {
    display: flex;
    padding: 20px 0px;
    border-radius: 25px 25px 0px 0px;
    background-color: #DCB78F;
    justify-content: center;
    align-items: center;
}

.LastStudyBody {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 25px;
    border-radius: 0px 0px 25px 25px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.LastStudyChapter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.LastStudyChapterLeft {
    display: flex;
    gap: 10px;
    padding-left: 20px;
}