.react-calendar {
  width: 100%;
  max-width: 100%;
  border: none;
  border-radius: 25px;
  font-family: "Jua";
  line-height: 6rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background: white;
}

.react-calendar__navigation {
  border-radius: 25px 25px 0 0;
  height: 100%;
  background: #6b3906;
  margin-bottom: 0;
  overflow: hidden;
}

.react-calendar__navigation button {
  color: white;
  font-size: 1.5rem;
  font-weight: medium;
}

.react-calendar__navigation__label {
  background: #6b3906;
}

.react-calendar__navigation button:enabled:focus {
  background-color: transparent;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #dcb78f;
}

abbr[title] {
  text-decoration: none;
  cursor: none;
  text-decoration-skip-ink: none; 
}

.react-calendar__month-view__days__day--weekend > :nth-last-child() > :last-child {
  background-color: blue;
}

.sunday {
  color: red !important;
}

.react-calendar__tile {
  color: black;
}

.react-calendar__tile--active {
  background: none !important;
  color: black !important;
}

.react-calendar__tile:hover,
.react-calendar__tile:focus {
  background: none !important;
  cursor: default !important;
}

.react-calendar__tile--now,
.react-calendar__tile--now:hover,
.react-calendar__tile--now:focus {
  background: #dcb78f !important;
  cursor: default !important;
}

.react-calendar__navigation button:disabled {
  background-color: #6b3906;
  border-radius: 25px;
}

.react-calendar__tile {
  font-size: 1.25rem;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  color: #6b3906;
  font: inherit;
  font-size: 1.25rem;
  font-weight: medium;
}

.react-calendar__tile--active.react-calendar__month-view__days__day--weekend {
  color: #d10000 !important;
}

.react-calendar__tile {
  position: relative; 
}

.Stamp {
  position: absolute;
  width: 70%;
  opacity: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
