.LastStudyButton {
    display: flex;
    background-color: #6B3906;
    width: 309px;
    height: 41px;
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    color: white;
}

.LastStudyButtonText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}