/* NotationChapter1.css */
.box {
  background-color: #0C4518;
  position: relative;
  height: 340px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.abc {
  color: #DCB78F;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 24px;
}
.data1 {
  text-align: center;
  font-size: 64px; /* 글자 크기 */
  color: white; /* 글자 색상 */
}

.data2 {
  font-size: 64px; /* 글자 크기 */
  color: #FFCC4D; /* 글자 색상 */
}
