.Button{
    /* height: 108px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 27px; */
    display: flex;
}

.pwButton{
    left: 204px;
    right: 204px;
    bottom: 2px;
    padding-top: 10px;
    padding-bottom: 5px;
    position: absolute;
}
.profileButton{
    left: 204px;
    right: 204px;
    bottom:58px;
    padding-top: 10px;
    position: absolute;
}
.modalButton{
    left: 520px;
    right: 204px;
    bottom: 2px;
    padding-top: 10px;
    padding-bottom: 5px;
    position: absolute;
}