.LoginBox{
    align-self: stretch;
    height: 95px;
    padding-left: 10px;
    background: rgba(255, 249, 239, 0);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
