.LogoBox{
    width: 200px;
    height: 100px;
    left: 629px;
    top: 110px;
    position: absolute;
    margin-right: 17px;
}
.SubTitle{
    width: 150px;
    height: 107px;
    left: 837px;
    top: 151px;
    position: absolute;
    text-align: center;
    color: #939393;
    font-Size: 2rem;
    font-family: 'Jua';
    font-Weight: 400;
    word-wrap: break-word;
}
