.formbox, .idbox{
    align-self: stretch;
    background: rgba(255, 249, 239, 0);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
} 
.formbox{
    padding: 10px;
}
.formlist{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* margin-top: 30px; */
    gap: 15px;
    margin-bottom: 40px;
    background: #DCB78F;
    border-radius: 25px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
.totalpage{
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}